<div class="row">
    <div class="col-2">
        <div id="list-example" class="list-group">
            <a class="list-group-item list-group-item-action" href="#list-item-1">Highlights</a>
            <a class="list-group-item list-group-item-action" href="#list-item-2">Opportunity</a>
            <a class="list-group-item list-group-item-action" href="#list-item-3">Product</a>
            <a class="list-group-item list-group-item-action" href="#list-item-4">Traction</a>
            <a class="list-group-item list-group-item-action" href="#list-item-5">Vision and strategy</a>
        </div>
    </div>
    <div class="col-6">
        <h1>
            Ski Company
        </h1>
        <app-deck></app-deck>
        <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example"
            tabindex="0">
            <h4 id="list-item-1">Highlights</h4>
            <ul>
                <li>Huge market with 1M skis sold in the US annually + another 2.2M in Europe</li>
                <li>Two years of record-breaking skier visits show strong growth in the sport</li>
                <li>Strong year one performance: 4k+ skis sold, $3M in revenue + 5-star reviews</li>
                <li>Bode Miller's "Q Rating" is the highest of any winter athlete in the world</li>
                <li>Featured in Bloomberg, Forbes, Outside, Geekwire, Freeskier, Snow Magazine</li>
                <li>Dominated ski test reviews across all major ski outlets after one season</li>
                <li>Voted Top 4 Most Memorable Brand in SIA 2023 Consumer Reports survey</li>
            </ul>
            <h4 id="list-item-2">Opportunity</h4>
            <h1>Invest in the Future of Skiing</h1>
            <p>
                Skis have existed for thousands of years, but for too long their design for and delivery to consumers
                has been stagnant.
            </p>
            <p>
                Until now.
            </p>
            <p>
                Welcome to Peak Ski Company, the most innovative, customer-focused, and forward-thinking ski company on
                earth.
            </p>
            <p>
                In 2022, former ski area CEO Andy Wirth and six-time Olympian Bode Miller launched Peak Ski Company.
                Peak’s goal is to reinvent your skis and the way you buy them. In Year 1, Peak launched with its first
                six models of skis, containing technology and construction that made them perform unlike any other ski
                on the market. At the same time, we also established the first “at-scale” direct-to-consumer, e-commerce
                ski company, giving consumers a more contemporary and entirely new way to purchase skis.
            </p>
            <p>
                We want every Peak model to outperform the top skis on the market. To do that, we test them against the
                best of the rest—repeatedly—from phase one prototypes, to early production, to the final skis we send
                you.
            </p>
            <p>
                Our patented KeyHole Technology™ and PEAK Loc8™ represent just the initial steps in our journey to
                reshape the ski industry. Our future strategic plans include a comprehensive reengineering of the entire
                ski manufacturing process and related machinery. Our goal? To reduce energy consumption, increase
                production speed, improve manufacturing precision, utilize environmentally conscious materials, and
                introduce the ability to repurpose the materials from retired skis.
            </p>
            <br>
            <h4> THE DEMAND</h4>
            <div class="image-container">
                <img src="assets/skie_metrics.jpg" alt="Peak Ski Technology" />
            </div>
            <div>
                *Sources: <a
                    href="https://nsaa.org/webdocs/Media_Public/IndustryStats/historical_skier_visits_thru_22-23.pdf"
                    rel="noopener">National Ski Areas Association National Skier/Snowboarder Visits, 1978/79 to
                    2022/23</a>
                & <a href="https://www.zionmarketresearch.com/report/ski-gear-equipment-market" rel="noopener">Zion
                    Market Research.</a>
            </div>


            <h4>
                THE COMPETITION
            </h4>
            <p>
                The ski market, particularly in North America, is dominated by European-based, large-scale
                manufacturers. Most of these companies produce high-quality skis but haven’t focused on developing and
                funding strategic-level ski innovation.
            </p>
            <p>
                We aim to capitalize on market opportunities resulting from low levels of innovation in the industry.
                Peak has achieved great results in our first year, led by our award-winning line of 22/23 skis.
            </p>
            <p>
                Join us in this movement. Investing in Peak Ski Company is a unique opportunity to become an integral
                part of a ski company that's driving dramatic levels of innovation.
            </p>
            <div class="image-container">
                <img src="assets/peak.jpg" alt="Peak Ski Technology" />
            </div>

            <br>

            <h4 id="list-item-3">Product</h4>
            <h1>
                Unique Design. Revolutionary Technology.
            </h1>
            <p>
                Peak Skis incorporates Bode Miller's 30 years of design acumen into a quiver of ripping all-mountain
                skis.
            </p>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/T4xYChcMf1U"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <p>
                Our core products for the 2023/24 winter season include skis designed for skiers in every region. For
                skiers in the Sierras of California, where wider skis tend to dominate the landscape. For the Rocky
                Mountain Region, where groomed trails, as well as deep powder, are key considerations. And for the
                eastern part of the U.S. and the EU market, which tend to gravitate to a narrower ski.
            </p>
            <div class="image-container">
                <img src="assets/peak_numbers.jpg" alt="Peak Ski Technology" />
            </div>
            <h4>
                PEAK'S PROPRIETARY TECHNOLOGY
            </h4>
            <h5>
                KeyHole Technology™
            </h5>
            <p>
                All Peak skis feature our innovative, proprietary KeyHole Technology, which is a unique
                below-the-surface cutaway discovered by Bode Miller during his racing days.
            </p>
            <p>
                Bode had been contemplating the design of the skis since 2004, when a manufacturing flaw in a pair of
                giant slalom skis helped him win three World Cup GS races that season and clinch his only overall title
                in that discipline. The difference? A mistake made by a technician that included a cutout in one of the
                layers of the ski, just in front of the binding’s toe piece. The mistaken cutout resulted in making turn
                initiation easier but didn’t impact the ski’s torsional rigidity, which is central to allowing a ski to
                hold an edge.
            </p>
            <p>
                Now, after years of extensive design and engineering, Peak has been able to build the consumer version
                of Bode’s dream skis. The KeyHole Technology makes the tips of the skis softer and conforms to the
                terrain which subsequently helps skiers initiate turns more easily and gives them enhanced control,
                stability, and confidence.
            </p>
            <blockquote>
                “I believed that if I could incorporate that thinking…that design into consumer skis, it would make
                skiing easier and more accessible for many more people. At the same time, it would make the skis more
                fun and versatile for expert skiers.” - Bode Miller
            </blockquote>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/z_CESPn4p3w"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <h4>
                Revolutionary PEAK Loc8™
            </h4>
            <p>
                In 2023, Peak introduced another groundbreaking patented innovation – PEAK Lôc8, a first-of-its-kind
                locating and tracking device that will be embedded within our line of innovative skis in 2024.
            </p>
            <p>
                PEAK Lôc8 provides users with the ability to locate their Peak skis using their mobile device.
                Compatible with Apple iOS and Android platforms and featuring wireless external recharging, Peak’s
                revolutionary PEAK Lôc8 technology makes locating your skis as simple as looking at your phone. With
                PEAK Lôc8, we have integrated a state-of-the-art tracking device right into the construction of your
                skis. Whether you are searching for your skis in deep snow, forgetting where you've placed your skis on
                a busy day at the resort, or following your skis while flying to your favorite ski destination, PEAK
                Lôc8 ensures you can always track down your skis.
            </p>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Y_ZCU-JdZBY"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <p>
                Our announcement of PEAK Lôc8 has garnered over 5M impressions in earned media. Public response has also
                been extremely favorable. <a data-toggle="collapse" href="#extra" role="button" aria-expanded="false"
                    aria-controls="extra">Read More</a>
            </p>
            <div class="collapse" id="extra">
                <div class="card card-body">
                    Within 45 days of launch, four major winter sports manufacturers have
                    contacted the Company with interest in licensing PEAK Lôc8.
                </div>
            </div>
            <div class="image-container">
                <img src="assets/customer_reviews.jpg" alt="Peak Ski Technology" />
            </div>
            <h4 id="list-item-4">Traction</h4>
            <h1>
                Year One's Successes
            </h1>
            <p>
                After its inaugural year, Peak has solidified its position as a premier contender in the fiercely
                competitive global ski market, demonstrating a proven track record that points to a trajectory of
                remarkable success. Peak yielded unprecedented favorable ratings across all the major and
                highly-influential, ski product review outlets. Due to the exceptional ski test results, Peak was able
                to secure the coveted cover placement on Outside Magazine's Winter Gear Guide.
            </p>
            <p>
                Peak has also established an engaged and passionate community of customers. These customers have
                consistently offered high praise, ratings, and reviews, contributing to an exceptional customer loyalty
                measurement.
            </p>
            <h4 id="list-item-5">Vision and strategy</h4>
            <h1>Nonstop innovation,
                EU Expansion</h1>
            <h4>
                STRATEGIC INITIATIVES
            </h4>
            <p>
                Developing industry-leading skis in our first year was the first (and very important!) element of our
                vision and plans for Peak. Our bold strategic vision, however, includes executing on several other
                globally impactful strategic initiatives.
            </p>
            <p>
                Advanced Materials Development – Thermoplastics: Peak is currently developing proprietary thermoplastic
                material with one of the world’s leading developers of thermoplastics. Carbon fiber, for example, is a
                well-known thermoplastic and is frequently used within skis; despite its light weight relative to its
                structural rigidity, however, carbon fiber receives and returns energy in a manner that brings about
                poor performance outcomes. Our proprietary thermoplastic material is being designed “starting at the
                molecular level”, to capture favorable traits, such as lightweight but more forgiving relative to the
                energy received and returned. Peak is securing a Joint Development Agreement that would afford us
                ownership of the IP associated with this new thermoplastic material and, in turn, all revenues
                associated with its licensing.
                Reengineering the Ski Manufacturing Process: The processes and machinery used to manufacture skis are
                antiquated. Also, the production methods and equipment generally lack consistency and precision, and are
                remarkably wasteful. Due to the manual/hand labor involved, existing processes and machinery are quite
                slow. Peak is advancing the comprehensive reengineering of ski manufacturing with its German-based
                development partner, Bihler, (Otto Bihler Maschinenfabrik GmbH & Co), a venerated global company with
                clients including Mercedes Benz, Husqvarna, Bosch, and more. Our reengineering project is based on a
                specific five-point development plan criteria, which, we spent years developing. At this stage, both
                Peak and Bihler are developing a detailed project plan that provides for a workable prototype by summer
                2024.
            </p>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Invest</h5>
                <p class="card-text large-font">$500</p>
                <h5 class="card-title">Receive</h5>
                <ul>
                    <li class="list-group-item">Peak Ski Company Hat</li>
                    <li class="list-group-item">Peak Poster signed by Bode Miller</li>
                </ul>
                <p class="card-text">Limited (170 left of 250)</p>
                <a href="#" class="btn btn-primary">Invest Now</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Invest</h5>
                <p class="card-text large-font">$1000</p>
                <h5 class="card-title">Receive</h5>
                <ul>
                    <li class="list-group-item">All bonus perks above +</li>
                    <li class="list-group-item">A uniquely Peak branded insulated vest as curated with our good friends at Stio</li>
                </ul>
                <p class="card-text">Sold out (0 left of 250)</p>
                <a href="#" class="btn btn-primary disabled">Invest Now</a>
                <p> 
                    You can still invest $1,000 without the perk.
                </p>
            </div>
        </div>
        <!-- <div class="card">
            <div class="card-body">
                <h5 class="card-title">Invest in Peak Ski Company</h5>
                <p class="card-text">Invest in the future of skiing.</p>
                <a href="#" class="btn btn-primary">Invest Now</a>
            </div>
        </div> -->
    </div>
</div>